.banner {
    position: relative;
    padding-top: $gutter-horizontal;
    &__welcome {
        color: $color-primary;
        margin-top: 29%;
        transform: rotate(-90deg);
        transform-origin: left top 0;
        position: absolute;
        @include respond(tab-land) {
            margin-top: 25%;
        }
        @include respond(tab-port) {
            display: none;
        }
    }
    &__image {
        position: relative;
        img {
            width: 100%;
            height: auto;
        }
        z-index: 200;
    }
    &__call-to-action {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-25%, -50%);
        text-align: right;
        @include respond(tab-land) {
            top: 40%;
        }
        @include respond(tab-port) {
            top: 30%;
        }
        @include respond(phone) {
            top: 25%;
            left: 5%;
            text-align: left;
            transform: translate(0);
        }
        @include respond(extra-small) {
            top: 6%;
            left: 5%;
            text-align: left;
            transform: translate(0);
        }
        h2 {
            display: block;
            color: $color-white;
            font-family: $font-light;
            font-size: 5rem;
            text-transform: uppercase;
            letter-spacing: 1rem;
            line-height: 1.3;
            text-align: right;
            max-width: 300px;
            @include respond(phone) {
                font-size: 2.5rem;
                text-align: left;
            }
        }
    }
    &__call-to-action-link {
        transition: all .3s;
        backface-visibility: hidden;
        text-transform: uppercase;
        font-size: 1.2rem;
        &:link,
        &:visited {
            text-decoration: none;
            color: $color-white;
            margin-right: 2rem;
        }
        &:hover,
        &:active {
            padding: .5rem;
            background-color: $color-primary;
            color: $color-white;
        }
    }
    &__intro-text {
        position: absolute;
        left: 19%;
        bottom: 50px;
        max-width: 500px;
        width: 100%;
        z-index: 300;
        @include respond(tab-land) {
            left: 12%;
        }
        @include respond(tab-port) {
            left: 5%;
            bottom: 7px;
        }
        @include respond(phone) {
            bottom: 48px;
        }
        @include respond(custom-small) {
            bottom: 28px;
        }
    }
    &__text-box {
        background: $color-primary;
        color: $color-white;
        padding: 30px;
        margin-top: 15px;
        position: relative;
        left: -200px;
        @include respond(tab-land) {
            left: -122px;
        }
        @include respond(tab-port) {
            left: -37px;
            padding: 20px 40px;
        }
        @include respond(phone) {
            display: none;
        }
    }
    &__square {
        width: 420px;
        height: 420px;
        border: 4px solid $color-secondary;
        position: absolute;
        bottom: -30px;
        left: 12%;
        z-index: 10;
        @include respond(tab-land) {
            left: 5%;
            width: 280px;
            height: 280px;
        }
        @include respond(tab-port) {
            display: none;
        }
    }
}

.sponsors {
    &__logos {
        margin-top: -8px;
    }
    &__img {
        margin: 10px;
    }
    img {
        @include respond(phone) {
            margin: 15px auto;
            display: block;
        }
    }
}

.intro-content {
    padding-top: 15px;
    padding-bottom: 130px;
    @include respond(phone) {
        padding-bottom: 30px;
    }
    &__paragraph {
        margin-left: 13%;
        color: $color-primary;
        @include respond(custom-big-desktop) {
            padding-bottom: 15px
        }
        @include respond(tab-port) {
            margin-left: 0;
        }
    }
}