@font-face {
  font-family: 'Brandon';
  src: url("../fonts/Brandon_reg.otf"); }

@font-face {
  font-family: 'Brandon bold';
  src: url("../fonts/Brandon_bld.otf"); }

@font-face {
  font-family: 'Brandon light';
  src: url("../fonts/Brandon_light.otf"); }

@font-face {
  font-family: 'Brandon medium';
  src: url("../fonts/Brandon_med.otf"); }

@font-face {
  font-family: 'Brandon black';
  src: url("../fonts/Brandon_med.otf"); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 55%; } }

body {
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 3rem 0 3rem 3rem;
  font-family: "Brandon";
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  line-height: 1.7; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding-left: 1rem; } }
  body img {
    max-width: 100%; }
  body p {
    letter-spacing: 0; }

::selection {
  background: #c7a77c;
  color: #FFF; }

.header {
  display: inline-block; }

.text-bold {
  font-family: "Brandon bold";
  text-transform: uppercase; }

.text-light {
  font-family: "Brandon light";
  text-transform: uppercase; }

.heading-primary {
  font-size: 5rem;
  font-family: "Brandon light";
  color: #6fcff5;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: .8rem; }
  @media only screen and (max-width: 56.25em) {
    .heading-primary {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 2rem; } }
  @media only screen and (max-width: 24.375em) {
    .heading-primary {
      font-size: 1.8rem; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

.row {
  max-width: 100%;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-85 {
    width: 85%; }
    @media only screen and (max-width: 75em) {
      .row .col-85 {
        width: 90%; } }
    @media only screen and (max-width: 56.25em) {
      .row .col-85 {
        width: 100%; } }
  .row .col-50 {
    width: 50%; }
    @media only screen and (max-width: 56.25em) {
      .row .col-50 {
        padding-top: 30px;
        width: 80%;
        margin: auto; } }
  .row .right {
    float: right !important; }
    @media only screen and (max-width: 37.5em) {
      .row .right {
        float: none !important; } }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1; }

.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791; }

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px; }

.owl-dots {
  margin-top: 30px; }
  .owl-dots button {
    outline: none; }
  .owl-dots .owl-dot span {
    height: 10px !important;
    width: 10px !important;
    margin-top: 30px;
    background: #c7a77c !important;
    border: 1px solid #c7a77c;
    margin: 5px 5px !important; }
  .owl-dots .owl-dot.active span {
    background: #FFF !important; }

.carousel-two .owl-dots {
  text-align: left; }
  .carousel-two .owl-dots .owl-dot span {
    background: #FFF !important;
    border: 1px solid #FFF; }
  .carousel-two .owl-dots .owl-dot.active span {
    background: #c7a77c !important; }

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999; }

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(img/pre-loader.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px; }

.navigation {
  float: right;
  margin-top: 30px; }
  .navigation__nav {
    float: right; }
    @media only screen and (max-width: 75em) {
      .navigation__nav {
        display: none; } }
  .navigation__checkbox {
    float: right; }
  .navigation li {
    display: inline-block;
    font-size: 1.6rem;
    font-family: "Brandon bold";
    margin: 0 15px; }
    .navigation li:last-child {
      margin-left: 35px;
      margin-right: 15px; }
  .navigation a {
    text-transform: uppercase; }
    .navigation a:link, .navigation a:visited {
      color: #522c06;
      text-decoration: none;
      font-size: 1.6rem; }
    .navigation a:focus {
      outline: none; }
  .navigation a::after {
    content: "";
    transition: all 0.2s ease 0s;
    left: 0;
    top: 0;
    width: 0px; }
  .navigation a:hover::after {
    content: "";
    display: block;
    float: right;
    opacity: 1;
    width: 50%;
    padding-top: 2px;
    border-bottom: 2px solid #6fcff5; }
  .navigation__button {
    width: 50px;
    height: 50px;
    background-color: #c7a77c;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 2rem;
    z-index: 9900;
    transition: all .3s;
    display: none; }
    .navigation__button:hover {
      background-color: #522c06; }
    @media only screen and (max-width: 75em) {
      .navigation__button {
        display: block; } }
  .navigation__checkbox {
    display: none; }
  .navigation__icon {
    position: relative;
    margin-top: 2.8rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 2rem;
      height: 2px;
      background-color: #FFF;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 2px;
      width: 1.5rem;
      float: none;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }

.overlay {
  position: fixed;
  z-index: 1500;
  background: #522c06;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow-y: hidden; }
  .overlay.open {
    opacity: .9;
    visibility: visible;
    height: 100%; }
    .overlay.open li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s; }
      .overlay.open li:nth-of-type(2) {
        animation-delay: .4s; }
      .overlay.open li:nth-of-type(3) {
        animation-delay: .45s; }
      .overlay.open li:nth-of-type(4) {
        animation-delay: .50s; }
  .overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    text-align: center; }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; }
    .overlay ul li {
      display: block;
      height: 10%;
      height: calc(100% / 4);
      min-height: 20px;
      position: relative;
      opacity: 0; }
      .overlay ul li a {
        font-family: "Brandon light";
        display: block;
        position: relative;
        color: #FFF;
        text-decoration: none;
        overflow: hidden;
        font-size: 4rem; }
        .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
          width: 20%; }
        .overlay ul li a:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: #6fcff5;
          transition: .35s; }
        .overlay ul li a:focus {
          outline: none; }

.active .navigation__icon {
  background: transparent; }
  .active .navigation__icon::before {
    left: -3px;
    width: 25px;
    top: 0;
    transform: rotate(135deg); }
  .active .navigation__icon::after {
    left: -3px;
    width: 25px;
    top: 0;
    transform: rotate(-135deg); }

.banner {
  position: relative;
  padding-top: 5rem; }
  .banner__welcome {
    color: #522c06;
    margin-top: 29%;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    position: absolute; }
    @media only screen and (max-width: 75em) {
      .banner__welcome {
        margin-top: 25%; } }
    @media only screen and (max-width: 56.25em) {
      .banner__welcome {
        display: none; } }
  .banner__image {
    position: relative;
    z-index: 200; }
    .banner__image img {
      width: 100%;
      height: auto; }
  .banner__call-to-action {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-25%, -50%);
    text-align: right; }
    @media only screen and (max-width: 75em) {
      .banner__call-to-action {
        top: 40%; } }
    @media only screen and (max-width: 56.25em) {
      .banner__call-to-action {
        top: 30%; } }
    @media only screen and (max-width: 37.5em) {
      .banner__call-to-action {
        top: 25%;
        left: 5%;
        text-align: left;
        transform: translate(0); } }
    @media only screen and (max-width: 24.375em) {
      .banner__call-to-action {
        top: 6%;
        left: 5%;
        text-align: left;
        transform: translate(0); } }
    .banner__call-to-action h2 {
      display: block;
      color: #FFF;
      font-family: "Brandon light";
      font-size: 5rem;
      text-transform: uppercase;
      letter-spacing: 1rem;
      line-height: 1.3;
      text-align: right;
      max-width: 300px; }
      @media only screen and (max-width: 37.5em) {
        .banner__call-to-action h2 {
          font-size: 2.5rem;
          text-align: left; } }
  .banner__call-to-action-link {
    transition: all .3s;
    backface-visibility: hidden;
    text-transform: uppercase;
    font-size: 1.2rem; }
    .banner__call-to-action-link:link, .banner__call-to-action-link:visited {
      text-decoration: none;
      color: #FFF;
      margin-right: 2rem; }
    .banner__call-to-action-link:hover, .banner__call-to-action-link:active {
      padding: .5rem;
      background-color: #522c06;
      color: #FFF; }
  .banner__intro-text {
    position: absolute;
    left: 19%;
    bottom: 50px;
    max-width: 500px;
    width: 100%;
    z-index: 300; }
    @media only screen and (max-width: 75em) {
      .banner__intro-text {
        left: 12%; } }
    @media only screen and (max-width: 56.25em) {
      .banner__intro-text {
        left: 5%;
        bottom: 7px; } }
    @media only screen and (max-width: 37.5em) {
      .banner__intro-text {
        bottom: 48px; } }
    @media only screen and (max-width: 26.875em) {
      .banner__intro-text {
        bottom: 28px; } }
  .banner__text-box {
    background: #522c06;
    color: #FFF;
    padding: 30px;
    margin-top: 15px;
    position: relative;
    left: -200px; }
    @media only screen and (max-width: 75em) {
      .banner__text-box {
        left: -122px; } }
    @media only screen and (max-width: 56.25em) {
      .banner__text-box {
        left: -37px;
        padding: 20px 40px; } }
    @media only screen and (max-width: 37.5em) {
      .banner__text-box {
        display: none; } }
  .banner__square {
    width: 420px;
    height: 420px;
    border: 4px solid #c7a77c;
    position: absolute;
    bottom: -30px;
    left: 12%;
    z-index: 10; }
    @media only screen and (max-width: 75em) {
      .banner__square {
        left: 5%;
        width: 280px;
        height: 280px; } }
    @media only screen and (max-width: 56.25em) {
      .banner__square {
        display: none; } }

.sponsors__logos {
  margin-top: -8px; }

.sponsors__img {
  margin: 10px; }

@media only screen and (max-width: 37.5em) {
  .sponsors img {
    margin: 15px auto;
    display: block; } }

.intro-content {
  padding-top: 15px;
  padding-bottom: 130px; }
  @media only screen and (max-width: 37.5em) {
    .intro-content {
      padding-bottom: 30px; } }
  .intro-content__paragraph {
    margin-left: 13%;
    color: #522c06; }
    @media only screen and (max-width: 96.188em) {
      .intro-content__paragraph {
        padding-bottom: 15px; } }
    @media only screen and (max-width: 56.25em) {
      .intro-content__paragraph {
        margin-left: 0; } }

.twitter {
  padding-top: 60px;
  position: relative; }
  .twitter__image {
    margin-left: 14%; }
    @media only screen and (max-width: 56.25em) {
      .twitter__image {
        margin-left: 0; } }
    .twitter__image img {
      position: relative;
      display: block;
      max-width: 1260px;
      width: 100%;
      z-index: 10; }
  .twitter__latest-news {
    color: #522c06;
    margin-top: 29%;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    position: absolute;
    left: 3%;
    z-index: 1;
    border: 5px solid #522c06;
    padding: 10px 100px 185px 100px; }
    @media only screen and (max-width: 87.5em) {
      .twitter__latest-news {
        margin-top: 40%; } }
    @media only screen and (max-width: 75em) {
      .twitter__latest-news {
        margin-top: 55%;
        padding: 10px 70px 185px 70px; } }
    @media only screen and (max-width: 56.25em) {
      .twitter__latest-news {
        transform: rotate(0);
        padding: 0;
        right: 0;
        border: none;
        bottom: -9%;
        text-align: center; } }
  .twitter__title {
    margin: auto;
    z-index: 20;
    position: absolute;
    top: 7%;
    right: 3%;
    transform: translate(0, -50%);
    width: 50%; }
    @media only screen and (max-width: 96.188em) {
      .twitter__title {
        top: -6%; } }
    @media only screen and (max-width: 75em) {
      .twitter__title {
        width: 100%;
        text-align: left;
        left: 2%; } }
    @media only screen and (max-width: 37.5em) {
      .twitter__title {
        top: 15px; } }
  .twitter__box {
    position: absolute;
    background-color: #c7a77c;
    width: 400px;
    height: auto;
    z-index: 100;
    top: -50px;
    left: 10%;
    color: #FFF;
    padding: 45px 30px; }
    @media only screen and (max-width: 75em) {
      .twitter__box {
        top: 17%; } }
    @media only screen and (max-width: 56.25em) {
      .twitter__box {
        display: none; } }
    .twitter__box .twitter-logo {
      position: absolute;
      display: inline-block !important;
      top: 4px;
      width: 20px !important;
      height: 18px; }
    .twitter__box .name {
      margin-left: 30px; }
    .twitter__box .follow-us:link, .twitter__box .follow-us:visited {
      text-decoration: none;
      color: #FFF;
      float: right; }
    .twitter__box a:link, .twitter__box a:visited {
      text-decoration: none;
      color: #522c06;
      float: right; }
    .twitter__box p {
      margin-top: 20px; }
      .twitter__box p a {
        float: none !important; }
  .twitter__logo-box {
    position: absolute;
    background-color: #6fcff5;
    height: 360px;
    width: 80px;
    bottom: 5%;
    right: 459px; }
    .twitter__logo-box img {
      position: absolute;
      bottom: 10px;
      left: 10px; }

.twitter-feed {
  padding-top: 60px;
  margin-left: 14%;
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .twitter-feed {
      margin-left: 0;
      padding-top: 80px; } }
  .twitter-feed__block {
    width: 100%;
    height: auto;
    border-left: 3px solid #c7a77c;
    padding: 0 30px; }
    .twitter-feed__block:not(:first-child) {
      padding: 0 30px; }
  .twitter-feed .date {
    font-size: 1.4rem;
    color: #c7a77c;
    letter-spacing: 0; }
  .twitter-feed .title {
    color: #522c06;
    font-size: 1.8rem;
    font-family: "Brandon bold";
    letter-spacing: 0; }
  .twitter-feed .content {
    color: #522c06;
    letter-spacing: 0; }

.stallions {
  padding-top: 20px; }
  @media only screen and (max-width: 56.25em) {
    .stallions {
      padding-top: 10px; } }
  .stallions h1 {
    margin-left: 10%;
    max-width: 300px;
    margin-bottom: 0; }
    @media only screen and (max-width: 75em) {
      .stallions h1 {
        margin-left: 2%;
        text-align: left; } }
  .stallions__side-text {
    margin-top: 26%;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    position: absolute;
    left: 13%;
    color: #522c06; }
    @media only screen and (max-width: 87.5em) {
      .stallions__side-text {
        margin-top: 30%; } }
    @media only screen and (max-width: 75em) {
      .stallions__side-text {
        left: 2%;
        margin-top: 33%; } }
    @media only screen and (max-width: 56.25em) {
      .stallions__side-text {
        display: none; } }
  .stallions__box {
    padding-top: 60px;
    margin-left: 14%;
    display: flex; }
    @media only screen and (max-width: 75em) {
      .stallions__box {
        margin-left: 5%; } }
    @media only screen and (max-width: 56.25em) {
      .stallions__box {
        margin-left: 0;
        padding-top: 20px; } }
    @media only screen and (max-width: 37.5em) {
      .stallions__box {
        flex-flow: row wrap; } }
  .stallions .card {
    text-align: center;
    transition: all .5s;
    width: 30%; }
    @media only screen and (max-width: 56.25em) {
      .stallions .card {
        width: 33.33333%; } }
    @media only screen and (max-width: 37.5em) {
      .stallions .card {
        flex: 1 100%; } }
    .stallions .card:not(:first-child) {
      margin-left: 25px; }
      @media only screen and (max-width: 37.5em) {
        .stallions .card:not(:first-child) {
          margin-left: 0;
          margin-top: 20px; } }
    .stallions .card--one {
      border: 4px solid #522c06; }
    .stallions .card--two {
      border: 4px solid #6fcff5; }
    .stallions .card--three {
      border: 4px solid #6fcff5; }
    .stallions .card img {
      width: 100%;
      padding: 20px 20px 0 20px; }
    .stallions .card h2 {
      padding: 0 20px 0 20px;
      color: #522c06;
      text-transform: uppercase; }
      .stallions .card h2::after {
        content: "";
        width: 20%;
        padding-top: 5px;
        border-bottom: 2px solid #6fcff5;
        display: block;
        margin: auto; }
    .stallions .card p {
      padding: 10px 20px 30px 20px;
      color: #c7a77c;
      font-family: "Brandon light"; }
    .stallions .card:hover {
      background-image: url(/tweenhills/wp-content/themes/tweenhills/img/stallions-hover.png);
      border-color: #c7a77c;
      background-size: cover; }
      @media only screen and (max-width: 37.5em) {
        .stallions .card:hover {
          background-image: none; } }
      .stallions .card:hover img {
        display: none; }
        @media only screen and (max-width: 37.5em) {
          .stallions .card:hover img {
            display: block; } }
      .stallions .card:hover h2 {
        margin: auto;
        max-width: 290px;
        color: #FFF;
        font-size: 6rem;
        line-height: 1.1;
        margin-top: 30%; }
        @media only screen and (max-width: 56.25em) {
          .stallions .card:hover h2 {
            font-size: 4rem; } }
        @media only screen and (max-width: 37.5em) {
          .stallions .card:hover h2 {
            color: #522c06;
            font-size: 2.4rem;
            margin-top: 7px;
            line-height: 1.7;
            padding: 0 20px 0 20px; } }
        .stallions .card:hover h2:after {
          width: 40%;
          padding: 5px 0; }
          @media only screen and (max-width: 37.5em) {
            .stallions .card:hover h2:after {
              padding-top: 0; } }
      .stallions .card:hover p {
        margin-top: 10px; }
        @media only screen and (max-width: 37.5em) {
          .stallions .card:hover p {
            margin-top: 0; } }

.stallions-update {
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px; }
  @media only screen and (max-width: 37.5em) {
    .stallions-update {
      padding-bottom: 0; } }
  .stallions-update__banner {
    margin-left: -30px; }
    .stallions-update__banner img {
      position: relative;
      z-index: 5;
      max-width: 1280px;
      width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .stallions-update__banner {
        margin-left: 0; } }
  .stallions-update h1 {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    max-width: 250px;
    z-index: 200; }
    @media only screen and (max-width: 56.25em) {
      .stallions-update h1 {
        top: 35%; } }
    @media only screen and (max-width: 37.5em) {
      .stallions-update h1 {
        top: 30px;
        left: 10px;
        transform: translate(0); } }
  .stallions-update__side-text {
    transform: rotate(-90deg);
    transform-origin: right top 0;
    position: absolute;
    top: 31%;
    right: 2%;
    color: #522c06; }
    @media only screen and (max-width: 75em) {
      .stallions-update__side-text {
        display: none; } }
  .stallions-update__box {
    position: absolute;
    padding: 30px;
    background-color: #c7a77c;
    max-width: 500px;
    width: 100%;
    height: auto;
    bottom: 5%;
    left: 10%;
    z-index: 10; }
    @media only screen and (max-width: 37.5em) {
      .stallions-update__box {
        position: relative;
        left: 0;
        right: 0;
        max-width: 100%;
        margin-top: -7px; } }
    .stallions-update__box p {
      color: #FFF; }
  .stallions-update__square {
    position: absolute;
    height: 250px;
    width: 250px;
    z-index: 1; }
    @media only screen and (max-width: 37.5em) {
      .stallions-update__square {
        display: none; } }
  .stallions-update .dark {
    border: 4px solid #522c06;
    bottom: -2%;
    left: 7%; }

.sign-up {
  position: relative; }
  .sign-up__box {
    padding: 30px;
    background-color: #522c06;
    width: 50%;
    float: right;
    margin-right: 5%;
    position: relative;
    z-index: 100; }
    @media only screen and (max-width: 96.188em) {
      .sign-up__box {
        margin-top: 10px;
        width: 65%; } }
    @media only screen and (max-width: 75em) {
      .sign-up__box {
        margin-top: 10px;
        width: 50%;
        margin-right: 0;
        min-height: 180px;
        height: 100%; } }
    @media only screen and (max-width: 37.5em) {
      .sign-up__box {
        width: 100%;
        margin-top: 0; } }
  .sign-up__text {
    display: inline-block; }
    @media only screen and (max-width: 75em) {
      .sign-up__text {
        width: 100%; } }
    .sign-up__text label {
      color: #FFF;
      letter-spacing: 0;
      width: 100%;
      margin-top: 5px;
      font-size: 1.8rem; }
      @media only screen and (max-width: 75em) {
        .sign-up__text label {
          margin-left: 0;
          text-align: center;
          margin: auto; } }
    .sign-up__text input {
      display: inline-block;
      background: transparent;
      color: #FFF;
      border: none; }
      .sign-up__text input:focus {
        outline: none; }
    .sign-up__text span {
      text-decoration: underline; }
  .sign-up .wpcf7-submit, .sign-up .wpcf7-submit:link, .sign-up .wpcf7-submit:visited {
    background-color: #6fcff5;
    color: #FFF;
    padding: 15px 100px;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    cursor: pointer;
    transition: all .2s; }
  .sign-up .wpcf7-submit:active, .sign-up .wpcf7-submit:focus {
    outline: none; }
  .sign-up .wpcf7-submit:hover {
    background-color: #c7a77c; }
  @media only screen and (max-width: 75em) {
    .sign-up .wpcf7-submit {
      margin: auto;
      float: none;
      display: block;
      margin-top: 15px;
      padding: 15px 40px;
      float: none;
      display: block;
      margin-top: 90px;
      width: 89%; } }
  .sign-up__square {
    position: absolute;
    height: 179px;
    width: 250px;
    z-index: 0; }
    @media only screen and (max-width: 75em) {
      .sign-up__square {
        display: none; } }
  .sign-up .light {
    border: 4px solid #c7a77c;
    bottom: -5%;
    right: 3%; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #FFF;
  text-decoration: underline;
  font-size: 1.8rem; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #FFF;
  text-decoration: underline;
  font-size: 1.8rem; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #FFF;
  text-decoration: underline;
  font-size: 1.8rem; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #FFF;
  text-decoration: underline;
  font-size: 1.8rem; }

div.wpcf7-mail-sent-ng,
div.wpcf7-aborted {
  border: none;
  color: #FFF;
  border-bottom: 1px solid #6fcff5;
  margin-left: 0;
  text-align: left;
  padding: 10px 0; }
  @media only screen and (max-width: 75em) {
    div.wpcf7-mail-sent-ng,
    div.wpcf7-aborted {
      margin-top: 100px; } }

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
  border: none;
  color: #FFF;
  border-bottom: 1px solid #6fcff5;
  margin-left: 0;
  text-align: left;
  padding: 10px 0; }
  @media only screen and (max-width: 75em) {
    div.wpcf7-validation-errors,
    div.wpcf7-acceptance-missing {
      margin-top: 100px; } }

span.wpcf7-not-valid-tip {
  display: none; }

.footer {
  height: auto;
  background: #f1f1f1;
  position: absolute;
  width: 100%;
  margin-left: -25px;
  z-index: 1000;
  padding: 50px 100px; }
  @media only screen and (max-width: 75em) {
    .footer {
      padding: 50px 30px;
      margin-left: -9px; } }
  .footer__left {
    float: left; }
    @media only screen and (max-width: 75em) {
      .footer__left {
        width: 100%;
        float: none;
        margin: auto; } }
  .footer__right {
    margin-top: 25px;
    float: right; }
    @media only screen and (max-width: 75em) {
      .footer__right {
        float: left; } }
    .footer__right img:not(:first-child) {
      margin-left: 15px; }
    @media only screen and (max-width: 37.5em) {
      .footer__right {
        width: 100%;
        float: none;
        margin: 15px auto;
        display: block; } }
  .footer__list {
    padding: 20px 0;
    list-style: none; }
  .footer li {
    display: inline; }
    .footer li a {
      transition: all .2s;
      text-decoration: none;
      color: #522c06;
      text-transform: uppercase;
      font-family: "Brandon bold";
      font-size: 1.2rem; }
      .footer li a:hover {
        color: #c7a77c; }
    .footer li:not(:first-child) {
      margin-left: 20px; }
  .footer__copyright p {
    color: #c7a77c;
    font-family: "Brandon light";
    font-size: 1.2rem; }
  @media only screen and (max-width: 37.5em) {
    .footer__logo object {
      margin: 15px auto;
      display: block; } }
