.sign-up {
    position: relative;
    &__box {
        padding: 30px;
        background-color: $color-primary;
        width: 50%;
        float: right;
        margin-right: 5%;
        position: relative;
        z-index: 100;
        @include respond(custom-big-desktop) {
            margin-top: 10px;
            width: 65%;
        }
        @include respond(tab-land) {
            margin-top: 10px;
            width: 50%;
            margin-right: 0;
        }
        @include respond(phone) {
            width: 100%;
            margin-top: 0;
        }
    }
    &__text {
        display: inline-block;
        @include respond(tab-land) {
            width: 100%;
        }
        p {
            color: $color-white;
            margin-left: 10%;
            width: 100%;
            margin-top: 5px;
            font-size: 1.8rem;
            @include respond(tab-land) {
                margin-left: 0;
                text-align: center;
                margin: auto;
            }
        }
        span {
            text-decoration: underline;
        }
    }
    .btn {
        &,
        &:link,
        &:visited {
            background-color: $color-tertiary;
            color: $color-white;
            padding: 15px 100px;
            float: right;
            border: none;
            cursor: pointer;
            transition: all .2s;
        }
        &:active,
        &:focus {
            outline: none;
        }
        &:hover {
            background-color: $color-secondary;
        }
        @include respond(tab-land) {
            margin: auto;
            float: none;
            display: block;
            margin-top: 15px;
            padding: 15px 70px;
        }
    }
    &__square {
        position: absolute;
        height: 179px;
        width: 250px;
        z-index: 0;

        @include respond(tab-land) {
            display: none;
        }
    }
    .light {
        border: 4px solid $color-secondary;
        bottom: -5%;
        right: 3%;
    }
}