.twitter {
    padding-top: 60px;
    position: relative;
    &__image {
        img {
            position:relative;
            margin-left: 14%;
            display: block;
            max-width: 1260px;
            width: 100%;
            z-index: 10;
        }
    }

    &__latest-news {
        color: $color-primary;
        margin-top: 29%;
        transform: rotate(-90deg);
        transform-origin: left top 0;
        position: absolute;
        left: 3%;
        z-index: 1;
        border: 5px solid $color-primary;
        padding: 10px 100px 185px 100px;
    }

    &__title {
        margin: auto;
        z-index: 20;
        position: absolute;
        top: 7%;
        left: 68%;
        transform: translate(-50%, -50%);
        width: 905px;
    }

    &__box {
        position: absolute;
        background-color: $color-secondary;
        width: 400px;
        height: auto;
        z-index: 100;
        top: -50px;
        left: 10%;
        color: $color-white;
        padding: 45px 30px;

        .follow-us {
            &:link,
            &:visited {
                text-decoration: none;
                color: $color-white;
                float: right;
            }
        }

        a {
            &:link,
            &:visited {
                text-decoration: none;
                color: $color-primary;
                float: right;
            }
        }
        
        p{
            margin-top: 20px;
            a {
                float: none !important;
            }
        }
    }

    &__logo-box {
        position: absolute;
        background-color: $color-tertiary;
        height: 360px;
        width: 80px;
        bottom: 5%;
        right: 459px;
        img {
            position: absolute;
            bottom: 10px;
            left: 10px;
        }
    }

}

.twitter-feed {
    padding-top: 60px;
    margin-left: 14%;

    &__block {
        display: inline-block;
        width: 31%;
        height: auto;
        border-left: 3px solid $color-secondary;
        padding: 0 30px;
        &:not(:first-child) {
            padding: 0 30px;
        }
        
    }

    .date {
        font-size: 1.4rem;
        color: $color-secondary;
        letter-spacing: 0;
    }

    .title {
        color: $color-primary;
        font-size: 1.8rem;
        font-family: $font-bold;
        letter-spacing: 0;
    }

    .content {
        color: $color-primary;
        letter-spacing: 0;
    }
}