.row {
    max-width: $grid-width;
    margin: 0 auto;
    @include clearfix;
    .col-85 {
        width: 85%;
        @include respond(tab-land) {
            width: 90%;
        }
        @include respond(tab-port) {
            width: 100%;
        }
    }
    .col-50 {
        width: 50%;

        @include respond(tab-port) { 
            padding-top: 30px;
            width: 80%;
            margin: auto;
        }
    }
    .right {
        float: right !important;
        @include respond(phone) {
            float: none !important;
        }
    }
}